<h1>Edit ton profile mon gros</h1>


<%= render 'form', user: @user %>

<%= link_to 'SHOW', @user, class: "btn btn-default btn-rose" %>
<%= link_to 'BACK TO EVENT', root_path, class: "btn btn-default btn-primary" %>