

<h2>Thanks, you paid <strong>$5.00</strong>!</h2>

pk_test_CXxNVWKVJkQLrUjo9S6vHMDP
sk_test_FxF5BL1UtcENMoWtKuoON0Py

PUBLISHABLE_KEY=pk_test_CXxNVWKVJkQLrUjo9S6vHMDP \
SECRET_KEY=sk_test_FxF5BL1UtcENMoWtKuoON0Py rails s